:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media screen and (max-width: 991.98px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 767.98px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 1.2rem;
  background-color: var(--very-light-gray);
  font-family: "Spartan", sans-serif;
  display: relative;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 10vh;
}

.paragraph {
  color: var(--dark-gray);
  font-size: 0.9rem;
  line-height: 1.5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 10%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 2rem 10%;
  }
}
.header-burger {
  background-color: transparent;
  border: none;
  margin-right: 1rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .header-burger {
    display: block;
    margin-right: 0;
  }
}
.header-img {
  margin-right: 2rem;
}
@media screen and (max-width: 767.98px) {
  .header-img {
    margin: 0 auto;
  }
}
.header-list {
  list-style: none;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.carousel {
  grid-column: 1/7;
  grid-row: 1/7;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .carousel {
    grid-column: 1/-1;
  }
}
.carousel-slide {
  display: flex;
  width: 300%;
}
.carousel-img {
  flex: 1;
  height: 70vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-img-1 {
  background-image: url(../images/desktop-image-hero-1.jpg);
}
@media screen and (max-width: 767.98px) {
  .carousel-img-1 {
    background-image: url(../images/mobile-image-hero-1.jpg);
  }
}
.carousel-img-2 {
  background-image: url(../images/desktop-image-hero-2.jpg);
}
@media screen and (max-width: 767.98px) {
  .carousel-img-2 {
    background-image: url(../images/mobile-image-hero-2.jpg);
  }
}
.carousel-img-3 {
  background-image: url(../images/desktop-image-hero-3.jpg);
}
@media screen and (max-width: 767.98px) {
  .carousel-img-3 {
    background-image: url(../images/mobile-image-hero-3.jpg);
  }
}

.btn {
  grid-column: 7/8;
  grid-row: 6/7;
  z-index: 3;
  height: 10vh;
}
@media screen and (max-width: 767.98px) {
  .btn {
    grid-column: 8/-1;
  }
}
.btn-container {
  display: flex;
  height: 100%;
}
.btn-btn {
  flex: 1;
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
.btn-btn:hover {
  background-color: var(--very-dark-gray);
}
.btn-btn:focus {
  outline: none;
}

.text {
  grid-column: 7/-1;
  grid-row: 1/7;
  align-self: center;
  justify-self: center;
  width: 20rem;
  max-width: 90%;
}
@media screen and (max-width: 767.98px) {
  .text {
    grid-column: 1/-1;
    grid-row: 7/14;
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
vvvv .text h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
}
.text button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  cursor: pointer;
}
.text button:hover {
  opacity: 0.5;
}
.text button:focus {
  outline: none;
}
.text button img {
  margin-left: 2rem;
}

.about-img {
  grid-row: 7/11;
}
.about-img div {
  height: 40vh;
}
.about-img div img {
  height: 100%;
  width: 100%;
  display: block;
}
.about-img-1 {
  grid-column: 1/4;
}
@media screen and (max-width: 767.98px) {
  .about-img-1 {
    grid-column: 1/-1;
    grid-row: 14/17;
  }
}
.about-img-2 {
  grid-column: 8/-1;
}
@media screen and (max-width: 767.98px) {
  .about-img-2 {
    grid-column: 1/-1;
    grid-row: 21/24;
  }
}
.about-text {
  grid-column: 4/8;
  grid-row: 7/11;
  align-self: center;
  justify-self: center;
  width: 25rem;
  max-width: 90%;
}
@media screen and (max-width: 767.98px) {
  .about-text {
    grid-column: 1/-1;
    height: 40vh;
    grid-row: 17/21;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
.about-text h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .attribution {
    font-size: 0.8rem;
    text-align: center;
  }
}
.attribution a {
  color: #3e52a3;
}
