.text {
  grid-column: 7/-1;
  grid-row: 1/7;
  align-self: center;
  justify-self: center;
  width: 30rem;
  max-width: 90%;

  @media screen and (max-width: 64em) {
    grid-column: 1/-1;
    grid-row: 6/12;
    height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 90%;
  }

  & h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 2rem;
  }

  & button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }

    & img {
      margin-left: 2rem;
    }
  }
}
